<footer id="contacts" class="footer-section section">
							
<h2 class="sponsors-title">{{Model.ContentItem.Content.TitlePart.Title}}</h2>
		<div class="footer-sponsors swiper footer-sponsors-swiper">
			<div class="sponsors-track" id="organizersSwiperWrapper">
							{% for item in Model.ContentItem.Content.FooterSection.Sliderimages.Paths %} 
							<div class="sponsors-track-item">
									<div class="sponsors-track-image-background" 
									style="background-image: url('{{Model.ContentItem.Content.FooterSection.BackgroundImg.Paths | asset_url }}')">
										<img src="{{item | asset_url }}" 
										/>
									</div>
								</div>
							{% endfor %}
					</div> 
			</div>
		<div class="footer-contacts">
		{% render_section "Contacts" %}
		</div>
	</footer>
