{% assign contentMenuItem = Model.ContentItem.Content.ContentMenuItemPart %}

<a class="nav-anchor"  href="{{ contentMenuItem.SelectedContentItem.ContentItemIds.first | display_url }}">{{ Model.ContentItem.DisplayText }}</a>
